.memberName {
  position: relative;
  line-height: 16px;
  font-weight: 500;
}
.memberTitle {
  position: relative;
  font-size: var(--paragraph-tooltip-size);
  line-height: 20px;
}
.memberParent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon {
  object-fit: cover;
  height: 18px;
  width: 18px;
  position: relative;
  min-height: 18px;
}
.frameParent,
.iconsParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.frameParent {
  flex: 0 1 auto;
  flex-direction: column;
  gap: var(--gap-5xs);
  min-width: 0;
  text-align: left;
  font-size: var(--paragraph-subtitle-s-size);
  color: var(--base-typography-textwhite);
  font-family: var(--paragraph-tooltip);
}

@media screen and (max-width: 750px) {
  .frameParent {
    font-size: var(--paragraph-tooltip-size);
    gap: var(--gap-9xs);
  }

  .memberName {
    font-size: var(--paragraph-caption-size);
    line-height: 14px;
  }

  .memberTitle {
    font-size: 10px;
    line-height: 14px;
  }

  .icon {
    height: 14px;
    width: 14px;
    min-height: 14px;
  }

  .iconsParent {
    gap: var(--gap-9xs);
  }
}
