.outsmartYourLuck {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: inherit;
  z-index: 2;
}
.coins,
.inTheEndless {
  font-family: var(--paragraph-tooltip);
  color: var(--base-typography-textwhite);
}
.coins {
  font-weight: 500;
  color: var(--color-gold-100);
}
.blankLine,
.inTheEndlessBattleRoyaleA {
  margin: 0;
}
.coins1 {
  font-weight: 500;
  font-family: var(--paragraph-tooltip);
  color: var(--color-gold-100);
}
.toExitAndClaimRewardsPla {
  margin: 0;
}
.frameChild,
.inTheEndlessContainer {
  height: 192px;
  position: relative;
  z-index: 2;
}
.inTheEndlessContainer {
  flex: 1;
  line-height: 24px;
  display: inline-block;
  min-width: 239px;
  max-width: 100%;
}
.frameChild {
  width: 2px;
  border-right: 2px solid var(--base-typography-textwhite);
  box-sizing: border-box;
}
.inTheEndlessBattleRoyaleAParent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
  text-align: right;
  font-size: var(--paragraph-body-default-size);
}
.frameWrapper,
.outsmartYourLuckParent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.outsmartYourLuckParent {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-5xl);
}
.frameWrapper {
  width: 384px;
  align-items: flex-start;
  padding: var(--padding-3xl) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--headline-h5-size);
  color: var(--base-typography-textwhite);
  font-family: var(--paragraph-tooltip);
}
@media screen and (max-width: 450px) {
  .outsmartYourLuck {
    font-size: var(--font-size-lgi);
    line-height: 26px;
  }
  .frameChild {
    width: 100%;
    height: 2px;
  }
  .inTheEndlessBattleRoyaleAParent {
    flex-wrap: wrap;
  }
}
