.title {
  font-size: 20px;
}

.text-white {
  color: white;
}

#wallet-address {
  padding-left: 5px;
  padding-right: 5px;
  float: right;
}

.btn-info {
  background-color: #3c3e42;
  border-color: #19191a;
}

.btn-info:hover {
  background-color: #27292c;
  border-color: #19191a;
}

#title-img {
  width: 500px !important;
  margin: -70px auto auto;
}

#main-img {
  margin-top: -50px !important;
}